@mixin  widHeiDis($w, $h, $d, $jc, $ai, $fd,) {
    width: $w;
    height: $h;
    display: $d;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}

.submit {
    @include widHeiDis(100%, 20%, flex, space-around, center, column);
    border-top: 1px solid gray;

    .reg {
        @include widHeiDis(40%, 40%, flex, center, center, null);
        cursor: pointer;
        border-radius: 5px;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        background-color: royalblue;
        
        span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
            }
            
            span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
            }
            
            &:hover span {
            padding-right: 25px;
            }
            
            &:hover span:after {
            opacity: 1;
            right: 0;
        }
    }

    .log {
        cursor: pointer;
        width: 30%;
        height: 15%;
        text-decoration: underline;
    }

}
